<div class="container">
    <h1>Menu</h1>
</div>
<div class="container">
    <hr>
    <!-- if items -->
    {{#if items}}
        {{!-- {{#each items}} --}}
            <h2>{{items}}</h2>
        {{!-- {{/each}} --}}
    {{/if}}
</div>