<nav aria-label="Page navigation">
	<ul class="pagination ">
		<li class="page-item {{#unless data.posts.previous}}disabled{{/unless}}">
			<a class="page-link" aria-label="Previous" href="{{paginationPreviousUrl data.posts.previous}}">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
		<li class="page-item {{#unless data.posts.next}}disabled{{/unless}}">
			<a class="page-link" aria-label="Next" href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
